@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="row">
                <div class="col-6 d-flex flex-column">
                    <div class="card flex-fill">
                        <div class="card-body">
                            <h5 class="card-title">Equipo de Proteccion para Postes</h5>
                        </div>
                        <div class="card-footer mt-auto">
                            <a href="#" class="btn btn-success btn-block">
                                <i class="bi bi-arrow-right-square"></i>
                                Continuar
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-6 d-flex flex-column">
                    <div class="card flex-fill">
                        <div class="card-body">
                            <h5 class="card-title">Equipos en SAP</h5>
                        </div>
                        <div class="card-footer mt-auto">
                            <a asp-action="Index" asp-controller="Equipos" class="btn btn-success btn-block">
                                <i class="bi bi-arrow-right-square"></i>
                                Continuar
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-6 mt-3 d-flex flex-column">
                    <div class="card flex-fill">
                        <div class="card-body">
                            <h5 class="card-title">Card 3</h5>
                        </div>
                        <div class="card-footer mt-auto">
                            <a href="#" class="btn btn-success btn-block">
                                <i class="bi bi-arrow-right-square"></i>
                                Continuar
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-6 mt-3 d-flex flex-column">
                    <div class="card flex-fill">
                        <div class="card-body">
                            <h5 class="card-title">Card 4</h5>
                        </div>
                        <div class="card-footer mt-auto">
                            <a href="#" class="btn btn-success btn-block">
                                <i class="bi bi-arrow-right-square"></i>
                                Continuar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
